@media only screen and (max-width:768px) {
    .container-1 {
        height: 400px;
    }

    .center-text {
        text-align: center;
        color: white;
        background: rgba(22, 22, 22, 0.644);
        width: 100px;

        margin: 0px !important;
        z-index: 1;
    }


    .text-center-container {

        margin: 0px;
        margin-top: 10px;
        margin-left: 50px;
        top: 0;
        text-align: center;
        width: 300px;
        font-size: 12px;
    }

    #button-center {
        width: 100px;
        margin: 10px;
        padding: 4px !important;
        font-size: 12px !important;
    }

    #text-center-first {
        position: relative;
        font-size: 18px;
    }

    .curve {
        position: relative;
        z-index: 10;
        top: -325px;
        display: block;
        background-color: transparent;
    }

    .card {
        width: 350px;
        margin: 0%;
    }

    .card-img-top {
        width: 340px;
    }

    #button-adventure {
        padding: 8px;
        width: 200px;
        font-size: 16px;
    }

    .container-3 {
        position: relative;
        top: -180px
    }

    #adveture-label {
        font-size: 17px !important;
    }

    .container-card {
        top: -380px;

    }

    #reviews-label {
        font-size: 17px
    }

    .container-4 {
        position: relative;
        top: -280px
    }

    .container-5 {
        position: relative;
        top: -250px;

    }

    #last-text {
        font-size: 18px;
    }
}