@media only screen and (max-width:768px) {
    .container-1 {
        height: 45vh;
    }

    .curve {
        margin-top: -1%;
        line-height: 0%;
    }

    .hero-content {

        margin-top: -120%;

    }

    #text-hero {
        font-size: 16px;
    }

    #button-center {
        padding: 4px;
        font-size: 12px;
        margin: 4%;
    }

    #text-center-first {
        font-size: 16px;
    }

    #adveture-label {
        font-size: 16px;


    }

    #reviews-label {
        font-size: 16px;
    }

    .container-4 {
        top: 0px;
    }

    #last-text {
        font-size: 16px;
    }

    #map {
        margin-bottom: 80px;
    }
}